.main-wrapper {
  background-image: url("../img/bg-polygons-d@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -28px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-polygons-d@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-position: right center;
    background-size: 560px auto;
    background-image: url("../img/bg-polygon-t@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-polygon-t@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    background-position: center;
    background-size: 100%;
    background-image: url("../img/bg-polygon-m@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-polygon-m@2x.png");
    }
  }
}

.advantages {
  box-sizing: border-box;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 109px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 24px;
    margin-top: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 17px;
    margin-top: 20px;
  }
}

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 1170px;
  padding: 0;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

.advantages__item {
  background-color: $white;
  box-sizing: border-box;
  position: relative;
  border: 1px solid $border;
  border-left: 3px solid $blue;
  cursor: pointer;
  min-height: 300px;
  padding-bottom: 49px;

  @media (max-width: $tablet-width) {
    min-height: 233px;
    padding-bottom: 4px;
  }

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    @media (max-width: $mobile-width) {
      top: 25px;
      left: 27px;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 100px;
    padding-bottom: 12px;
  }
}

.advantages__item--term::after {
  background-image: url("../img/icon-stopwatch.svg");
  width: 29px;
  height: 35px;
  top: 40px;
  left: 42px;

  @media (max-width: $tablet-width) {
    top: 24px;
    left: 25px;
  }

  @media (max-width: $mobile-width) {
    top: 25px;
  }
}

.advantages__item--suppliers::after {
  background-image: url("../img/icon-hired.svg");
  width: 35px;
  height: 35px;
  top: 40px;
  left: 42px;

  @media (max-width: $tablet-width) {
    width: 32px;
    height: 32px;
    top: 23px;
    left: 24px;
  }

  @media (max-width: $mobile-width) {
    top: 25px;
  }
}

.advantages__item--privacy::after {
  background-image: url("../img/icon-detective.svg");
  width: 36px;
  height: 31px;
  top: 44px;
  left: 42px;

  @media (max-width: $tablet-width) {
    width: 30px;
    height: 26px;
    top: 27px;
    left: 25px;
  }

  @media (max-width: $mobile-width) {
    top: 26px;
    left: 24px;
  }
}

.advantages__item--price::after {
  background-image: url("../img/icon-tag.svg");
  width: 35px;
  height: 35px;
  top: 38px;
  left: 42px;

  @media (max-width: $tablet-width) {
    width: 32px;
    height: 32px;
    top: 24px;
    left: 24px;
  }

  @media (max-width: $mobile-width) {
    top: 26px;
    left: 26px;
  }
}

.advantages__item:hover {
  border-color: $blue;
  background-color: $blue;

  h3,
  p {
    color: $white;
  }
}

.advantages__item--term:hover::after {
  background-image: url("../img/icon-stopwatch-w.svg");
}

.advantages__item--suppliers:hover::after {
  background-image: url("../img/icon-hired-w.svg");
}

.advantages__item--privacy:hover::after {
  background-image: url("../img/icon-detective-w.svg");
}

.advantages__item--price:hover::after {
  background-image: url("../img/icon-tag-w.svg");
}

.advantages__item h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  padding-left: 42px;
  margin-top: 96px;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    margin-top: 66px;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 28px;
    padding-left: 25px;
  }
}

.advantages__item p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $grey;
  padding-left: 42px;
  padding-right: 42px;
  margin-top: 15px;

  @media (max-width: $tablet-width) {
    padding-left: 24px;
    padding-right: 27px;
    margin-top: 7px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 22px;
    padding-left: 24px;
    padding-right: 11px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}

.advantages__item span {
  display: none;

  @media (max-width: $mobile-width) {
    display: inline;
    vertical-align: middle;
  }
}

.advantages__item--term {
  @media (max-width: $mobile-width) {
    padding-bottom: 20px;
  }

  h3 {
    @media (max-width: $mobile-width) {
      margin-top: 73px;
    }
  }
}

.advantages__item--suppliers {
  @media (max-width: $mobile-width) {
    padding-bottom: 23px;
  }

  h3 {
    @media (max-width: $mobile-width) {
      margin-top: 69px;
    }
  }
}

.advantages__item--privacy {
  @media (max-width: $mobile-width) {
    padding-bottom: 52px;
  }

  h3 {
    @media (max-width: $mobile-width) {
      margin-top: 64px;
    }
  }

  p {
    @media (max-width: $tablet-width) {
      margin-top: 13px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 17px;
    }
  }
}

.advantages__item--price {
  @media (max-width: $mobile-width) {
    padding-bottom: 15px;
  }

  h3 {
    @media (max-width: $mobile-width) {
      margin-top: 70px;
    }
  }

  p {
    @media (max-width: $mobile-width) {
      margin-top: 16px;
    }
  }
}
