.page-main {
  margin-top: 0;
}

.banner {
  background-color: $black;
  background-image: url("../img/bg-d@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 92px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-d@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bg-t@1x.png");
    padding-bottom: 163px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-t@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-m@1x.png");
    padding-bottom: 70px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-m@2x.png");
    }
  }
}

.banner__wrapper {
  color: $white;
  position: relative;
  width: 733px;
  padding-top: 378px;
  margin-left: 13vw;
  margin-right: 13vw;

  @media (max-width: $tablet-width) {
    width: 470px;
    padding-top: 188px;
    margin-left: 11.4vw;
    margin-right: 11.4vw;
  }

  @media (max-width: $mobile-width) {
    box-sizing: border-box;
    width: 287px;
    padding-top: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}

.banner__wrapper h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
  }
}

.banner__wrapper p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 94px;
  margin-top: 31px;

  &::before {
    position: absolute;
    content: "";
    background-color: $white;
    width: 66px;
    height: 2px;
    top: 35px;
    left: 5px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    padding-left: 48px;
    margin-top: 32px;

    &::before {
      width: 33px;
      top: 25px;
      left: 6px;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;

    &::before {
      top: 15px;
      left: 8px;
    }
  }
}

.banner__wrapper a {
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.banner__link--button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: $blue;
  border-radius: 5px;
  width: 407px;
  padding-top: 17px;
  padding-right: 28px;
  padding-bottom: 14px;
  padding-left: 28px;
  margin-left: 80px;
  margin-top: 37px;

  @media (max-width: $tablet-width) {
    width: 379px;
    margin-left: 40px;
  }

  @media (max-width: $mobile-width) {
    width: 0;
    padding: 0;
    margin-top: 42px;
    margin-left: 0;
    visibility: hidden;
    position: relative;

    &::after {
      visibility: visible;
      position: absolute;
      content: "Бесплатная консультация";
      color: $white;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      background-color: $blue;
      border-radius: 5px;
      box-sizing: border-box;
      width: 287px;
      top: 0;
      left: 0;
      padding-top: 17px;
      padding-right: 11px;
      padding-bottom: 14px;
      padding-left: 11px;
    }
  }
}

.banner__link--scroll {
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  margin-top: 170px;
  margin-left: 0;
  width: 93px;

  @media (max-width: $tablet-width) {
    display: none;
    margin: 0;
  }
}
