.page-main {
  margin-top: 0;
}

.banner {
  position: relative;
  background-color: $black;
  background-image: url("../img/bg-d@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 75px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/board-d@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 36.7vw;
    height: 26.8vw;
    max-width: 860px;
    max-height: 630px;
    top: 29.5%;
    right: 9.2%;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-d@2x.png");

    &::after {
      background-image: url("../img/board-d@2x.png");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bg-t@1x.png");
    padding-bottom: 164px;

    &::after {
      background-image: url("../img/board-t@1x.png");
      width: 34vw;
      height: 44.2vw;
      top: 114px;
      right: 0;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-t@2x.png");

      &::after {
        background-image: url("../img/board-t@2x.png");
      }
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-m@1x.png");
    padding-bottom: 120px;

    &::after {
      background-image: url("../img/board-m@1x.png");
      width: 294px;
      height: 220px;
      top: 92px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-m@2x.png");

      &::after {
        background-image: url("../img/board-m@2x.png");
      }
    }
  }
}

.banner__wrapper {
  color: $white;
  position: relative;
  width: 39vw;
  max-width: 733px;
  padding-top: 315px;
  margin-left: 13vw;
  margin-right: 13vw;

  @media (max-width: 1400px) {
    width: 52vw;
  }

  @media (max-width: $tablet-width) {
    width: 470px;
    padding-top: 188px;
    margin-left: 11.4vw;
    margin-right: 11.4vw;
  }

  @media (max-width: $mobile-width) {
    box-sizing: border-box;
    width: 287px;
    padding-top: 286px;
    margin-right: auto;
    margin-left: auto;
  }
}

.banner__wrapper h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 79px;
  line-height: 94px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
  }
}

.banner__wrapper p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 97px;
  margin-top: 27px;

  &::before {
    position: absolute;
    content: "";
    background-color: $white;
    width: 66px;
    height: 2px;
    top: 18px;
    left: 3px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    padding-left: 51px;
    margin-top: 29px;

    &::before {
      width: 33px;
      top: 17px;
      left: 3px;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 25px;
    padding-left: 48px;
    margin-top: 27px;

    &::before {
      top: 15px;
      left: 1px;
    }
  }
}

.banner__wrapper a {
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.banner__link--button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: $blue;
  border-radius: 5px;
  width: 350px;
  padding-top: 17px;
  padding-right: 28px;
  padding-bottom: 17px;
  padding-left: 28px;
  margin-left: 97px;
  margin-top: 45px;

  @media (max-width: $tablet-width) {
    width: 325px;
    padding-bottom: 18px;
    margin-left: 50px;
    margin-top: 55px;
  }

  @media (max-width: $mobile-width) {
    width: 0;
    padding: 0;
    margin-top: 44px;
    margin-left: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    left: 10px;
    top: 5px;

    &::after {
      position: absolute;
      content: "Бесплатная консультация";
      color: $white;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      background-color: $blue;
      border-radius: 5px;
      box-sizing: border-box;
      width: 287px;
      top: -8px;
      left: -9px;
      padding-top: 17px;
      padding-right: 11px;
      padding-bottom: 17px;
      padding-left: 11px;
      z-index: 5;
    }
  }
}

.banner__link--scroll {
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  margin-top: 186px;
  margin-left: 5px;
  width: 93px;

  @media (max-width: $tablet-width) {
    display: none;
    margin: 0;
  }
}
