.page-footer__license {
  border-top: 1px solid $border-grey;
  margin-top: 58px;

  @media (max-width: $tablet-width) {
    margin-top: 36px;
  }

  @media (max-width: $mobile-width) {
    border-top: none;
    margin-top: 29px;
  }
}

.page-footer__license-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 1540px;
  gap: 7.5vw;
  padding-left: 62px;
  padding-right: 66px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 14px;

  @media (max-width: $tablet-width) {
    gap: 0;
    padding-left: 27px;
    padding-right: 25px;
    margin-top: 21px;
    margin-bottom: 28px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
    margin-top: 26px;
  }
}

.page-footer__rights {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 457px;
  gap: 20px;

  @media (max-width: 1099px) {
    flex-direction: column;
    justify-content: flex-start;
    min-width: min-content;
    gap: 0 20px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-footer__license p,
.page-footer__license a {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $black;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.page-footer__license ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.page-footer__license a {
  &:focus,
  &:hover {
    opacity: 1;
    color: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}
