.form {
  width: 100%;
  background-color: $blue;
  background-image: url("../img/paperplane@1x.png");
  background-repeat: no-repeat;
  background-size: 91%;
  background-position: 100% 63%;
  margin: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/paperplane@2x.png");
  }

  @media (max-width: 1440px) {
    background-position: 50% 63%;
  }

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.form__container {
  max-width: 585px;
  box-sizing: border-box;
  position: relative;
  border: none;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 114px;
  margin: 0;
  left: 50vw;

  @media (max-width: 1440px) {
    left: 40vw;
  }

  @media (max-width: $tablet-width) {
    position: static;
    max-width: 590px;
    left: 0;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 103px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width) {
    padding-top: 29px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 41px;
  }
}

.form h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  padding-left: 12px;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.form p {
  box-sizing: border-box;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  margin-top: 11px;

  @media (max-width: $tablet-width) {
    line-height: 21.5px;
    padding-left: 3px;
    margin-top: 17px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-top: 15px;
  }
}

.form__area {
  margin-left: 15px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-right: -4px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.form__wrapper--data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 31px;
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    gap: 40px 31px;
    margin-top: 53px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 26px;
  }
}

.form__wrapper--data p {
  padding: 0;
  margin: 0;
}

.form__wrapper--data input,
textarea {
  width: 100%;
  background-color: $bg-blue;
  border: none;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;

  @media (max-width: $tablet-width) {
    padding-left: 19px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
  }
}

.form__wrapper input::placeholder,
textarea::placeholder {
  color: $white;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
}

.form__container textarea {
  margin-top: 35px;
  height: 155px;

  @media (max-width: $tablet-width) {
    margin-top: 40px;
    height: 160px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 27px;
    height: 107px;
  }
}

.form__wrapper--buttons {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 38px;
  margin: 0;
  margin-top: 41px;

  @media (max-width: $tablet-width) {
    gap: 73px;
    justify-content: flex-start;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
  }
}

.form__wrapper--buttons button {
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  border-radius: 5px;
  border: 1px solid $white;
  box-sizing: border-box;
  cursor: pointer;
  width: 270px;
  padding-top: 14px;
  padding-right: 20px;
  padding-left: 18px;
  padding-bottom: 14px;

  &:hover,
  &:focus {
    opacity: 0.8;
    background-color: $white;
    color: $blue;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    width: 280px;
    padding-top: 15px;
    margin-left: 2px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 14px;
    margin: 0;
  }
}

.form__checkbox {
  width: 230px;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width) {
    width: 80%;
    padding-left: 34px;
    margin-left: 0;
    margin-right: auto;
    margin-top: -7px;
  }
}

.form__checkbox br {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.form__wrapper--buttons label {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  display: block;
  padding-top: 7px;
  cursor: pointer;
  position: relative;
  opacity: 0.8;

  &::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border: 1px solid $white;
    width: 16px;
    height: 16px;
    top: 8px;
    left: -34px;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    padding-top: 9px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 7px;
  }
}

.form__wrapper--buttons input:checked + label::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 4.5px;
  height: 7.5px;
  border-right: 1px solid $white;
  border-bottom: 1px solid $white;
  top: 10px;
  left: -27px;
  transform: rotate(45deg);
}

.form__wrapper--buttons input:focus + label,
.form__wrapper--buttons input:hover + label {
  opacity: 1;
  text-decoration: underline;
}
