.history {
  box-sizing: border-box;
  position: relative;
  max-width: 1170px;
  padding-right: 20px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 106px;

  &::after {
    position: absolute;
    content: "";
    width: 220px;
    height: 317px;
    background-image: url("../img/number-d@1x.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    left: -30px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/number-d@2x.png");
    }
  }

  @media (max-width: 1220px) {
    &::after {
      left: -8px;
    }
  }

  @media (max-width: $tablet-width) {
    padding-right: 28px;
    padding-left: 33px;
    margin-top: 56px;

    &::after {
      background-image: url("../img/number-t@1x.png");
      width: 251px;
      height: 362px;
      top: -3px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/number-t@2x.png");
      }
    }
  }

  @media (max-width: $mobile-width) {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 57px;

    &::after {
      display: none;
    }
  }
}

.history h2 {
  color: $grey;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  padding: 0;
  padding-left: 132px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    padding-left: 177px;
    margin-bottom: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.history p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $grey;
  max-width: 984px;
  padding-left: 129px;
  margin-top: 18px;
  margin-bottom: 22px;
  margin-right: 0;

  @media (max-width: $tablet-width) {
    padding-left: 180px;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 2px;
    padding-top: 20px;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.history span {
  @media (max-width: $tablet-width) {
    display: inline-block;
    vertical-align: bottom;
    width: 16px;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    position: relative;

    &::after {
      visibility: visible;
      position: absolute;
      content: "..";
      color: $grey;
      width: 5px;
      height: 3px;
      top: 0;
      left: 0;
    }
  }
}

.history br {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.history button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $blue;
  width: 180px;
  border: 1px solid $blue;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 14px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 12px;
  margin-top: 17px;
  margin-left: 130px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
    background-color: $blue;
    color: $white;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    margin-top: 26px;
    margin-left: 180px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 9px;
    margin-left: 2px;
  }
}
