.page-header {
  position: absolute;
  background: transparent;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1443px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding-left: 14px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 26px;
    margin-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 17px;
    padding-right: 15px;
    margin-top: 15px;
  }
}

.page-header__logo {
  width: 202px;
  height: 52px;
  z-index: 20;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
    margin-top: 2px;
  }
}

.page-header__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    justify-content: flex-end;
    margin-top: -4px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.page-header__item {
  margin-left: 80px;

  @media (max-width: $tablet-width) {
    margin-left: 33px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 23px;
  }
}

.page-header__item--call {
  margin-left: 50px;

  @media (max-width: $tablet-width) {
    display: none;
    margin: 0;
    padding: 0;
  }
}

.page-header__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  z-index: 20;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__link--mail {
  @media (max-width: $tablet-width) {
    width: 25px;
    height: 19px;
  }
}

.page-header__link--tel {
  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.page-header__link--call {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 14px;
  padding-right: 30px;
  padding-bottom: 14px;
  padding-left: 27px;

  @media (max-width: $tablet-width) {
    display: none;
    margin: 0;
    padding: 0;
  }
}

.page-header__link p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-left: 16px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
