$white: #ffffff;
$grey: #666666;
$grey1: #626962;
$grey2: #c4c4c4;
$border: #ebebeb;
$blue: #00b2ff;
$bg-blue: #19baff;
$black: #1b2d37;
$bg-black: #000000a6;
$bg-color: #1b2d37c7;
$border-grey: #62696236;
